* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background-color: #111;
}
.board {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.square {
    margin: 2px;
    width: 16px;
    height: 16px;
    background-color: #1d1d1d;
    box-shadow: 0 0 2px #1d1d1d;
    transition: 1.5s ease-in-out;
}
.square:hover {
    transition-duration: 0s;
}